#p1{
  margin-top: 1px;
}

#raj{
    background-color: azure;
   width: 2000px;
   height: 2300px;
   border: 1px solid black;
   padding: 50px; 

}

#a1{
    color: red;
    text-align: center;
    font-size: 50px;
}
#b1{
margin-right: 800px;
}
#b2{
    margin-right: 800px;
    }
    #b3{
        margin-right: 800px;
        }
        #b4{
            margin-right: 800px;
            }
            #b5{
                margin-right: 800px;
                }       
                #b6{
                    margin-right: 800px;
                    height: 200px;
                    width: 200px;
                    }    
                    #b7{
                        margin-right: 800px;
                        
                        }   
                        #b8{
                            margin-right: 800px;
                            
                            }   
                            